<?xml version="1.0"?>
<monthly>
	<event>
		<id>1</id>
		<name>Inaugural Lecture by Mr. Prasant K. Das, Addl. Secy, DHE, Odisha</name>
		<startdate>2019-01-18</startdate>
		<enddate></enddate>
		<starttime>11:30</starttime>
		<endtime>13:30</endtime>
		<color>#ffb128</color>
		<url></url>
	</event>
</monthly>